testdata/derivation/multi_level.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/test">
  <xs:complexType name="Shape">
    <xs:sequence>
      <xs:element name="color" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Rectangle">
    <xs:complexContent>
      <xs:extension base="Shape">
        <xs:sequence>
          <xs:element name="width" type="xs:decimal"/>
          <xs:element name="height" type="xs:decimal"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Square">
    <xs:complexContent>
      <xs:extension base="Rectangle">
        <xs:sequence>
          <xs:element name="side" type="xs:decimal"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
