testdata/nested/choice_in_choice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/test">
  <xs:complexType name="TransportType">
    <xs:choice>
      <xs:choice>
        <xs:element name="car" type="xs:string"/>
        <xs:element name="motorcycle" type="xs:string"/>
      </xs:choice>
      <xs:choice>
        <xs:element name="bus" type="xs:string"/>
        <xs:element name="train" type="xs:string"/>
      </xs:choice>
      <xs:element name="bicycle" type="xs:string"/>
    </xs:choice>
  </xs:complexType>
</xs:schema>
