testdata/nested/sequence_in_all.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/test">
  <!-- XSD 1.1: xs:all with maxOccurs > 1 -->
  <xs:complexType name="FlexibleType">
    <xs:all>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
      <xs:element name="extra" type="xs:string" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
</xs:schema>
