testdata/choice/nested_choice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/test">
  <!-- Choice inside sequence -->
  <xs:complexType name="OrderType">
    <xs:sequence>
      <xs:element name="id" type="xs:integer"/>
      <xs:choice>
        <xs:element name="domestic" type="xs:string"/>
        <xs:element name="international" type="xs:string"/>
      </xs:choice>
      <xs:element name="total" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Sequence inside choice -->
  <xs:complexType name="ContactType">
    <xs:choice>
      <xs:sequence>
        <xs:element name="street" type="xs:string"/>
        <xs:element name="city" type="xs:string"/>
      </xs:sequence>
      <xs:element name="poBox" type="xs:string"/>
    </xs:choice>
  </xs:complexType>
</xs:schema>
